<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Welcome to {{ title }}!</h1>
    <p class="lead">Just a thing that does some stuff</p>
  </div>
</div>

<div class="container">

  <div class="row cardPadding" *ngFor="let batch of batches">
    <div class="col-9">
      <div class="card">

        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h5>Batch {{batch.id}}</h5>
            </div>
            <div class="col-6">
              <div>
                <i *ngIf="batch.completedDate" class="fa fa-check fa-2x pull-right" aria-hidden="true" style="color:green"></i>
                <i *ngIf="!batch.completedDate" class="fa fa-times fa-2x pull-right" aria-hidden="true" style="color:red"></i>
              </div>
            </div>
          </div>


        </div>
        <div class="card-body">
          <!-- <div class="row">
            <div class="col-6">
              Batch Initialized:
            </div>
            <div class="col-6">
              <p>{{batch.initializedDate | date:'M/d/yy h:mm:ss'}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Batch Completed:
            </div>
            <div class="col-6">
              <p> {{batch.completedDate | date:'M/d/yy h:mm:ss'}}</p>

            </div>
          </div> -->
          <div *ngFor="let process of batch.processes">
            <div [ngClass]="(process.completedDate)?'alert alert-success': 'alert alert-danger'" role="alert">
              <h6>Process {{process.processType}}</h6>
              <!-- <div class="row">
                <div class="col-6">
                  Process Initialized:
                </div>
                <div class="col-6">
                  <p>{{process.initializedDate | date:'M/d/yy h:mm:ss'}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  Process Completed:
                </div>
                <div class="col-6">
                  <p> {{process.completedDate | date:'M/d/yy h:mm:ss'}}</p>

                </div>
              </div> -->

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>